a {
    text-decoration: none;
    color: #F11252;
    font-size: .75rem;
}

.about {
    line-height: 1.5;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Comfortaa', cursive;   
    color: #252525;
    max-width: 100vw;
    overflow-x: hidden;
}

.fade-in {
    animation: fadeIn ease 3s;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #ff936f;
    margin: 15px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: #6DBCDA;
    font-size: 2rem;
    margin: 15px;
}

.main h2:first-of-type {
    color: #BF7FAC;
}

.icons {
    width: 30px;
}

input, textarea {
    margin: 0 0 25px 0;
    width: 75vw;
    height: 25px;
}

input[type=submit] {
    background-color: #ff936f;
    height: 35px;
    border: none;
    color: white;
    font-weight: bold;
}

.logo {
    height: 70%;
    background-image: url('../images/LOGO.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main {
    height: 100vh;
    width: 100%;
}

.menu {
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

p {
    margin: 15px;
    text-align: left
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 25px 0;
}

.project-info {
    margin-top: 15px;
}

.project img {
    height: auto;
    width: 100%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec {
    margin: 50px 25px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (min-width: 1200px) {
    a {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h1, .main h2:first-of-type {
        writing-mode: vertical-lr; 
        transform: rotate(180deg);
    }

    .icons {
        width: 50px;
    }    

    li {
        font-size: 1.25em;
    }

    .logo {
        height: 100%;
        width: 50%;
    }

    .main {
      display: flex;
      justify-content: space-evenly;
    }

    .menu {
        order: 3;
        flex-direction: column;
    }

    .project {
        width: 45%;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .projects h2 {
        flex: 0 0 100%;
    }

  }