a {
    text-decoration: none;
    color: white;
    text-shadow: #252525 1px 1px;
    font-size: .75rem;
}

.about {
    padding: 25px;
    line-height: 1.5;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Comfortaa', cursive;   
    color: #252525;
    max-width: 100vw;
    overflow-x: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #FF9B74;
    margin: 15px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: #78C9E4;
    font-size: 2rem;
    margin: 15px;
}

input, textarea {
    margin: 0 0 25px 0;
    width: 75vw;
}

input[type=submit] {
    background-color: #FF9B74;
    height: 35px;
    border: none;
    color: white;
    font-weight: bold;
}

.logo {
    height: 70%;
    background-image: url('../images/LOGO.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.main {
    height: 100vh;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    background-image: url('../images/texture_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    border-radius: 15px;
    margin: 25px 0;
}

.project-info {
    margin-top: 15px;
}

.project img {
    height: auto;
    width: 90%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

@media screen and (min-width: 1200px) {
    a {
        font-size: 1rem;
    }

    h1 {
        writing-mode: vertical-lr; 
        transform: rotate(180deg);
        font-size: 3rem;
    }

    li {
        font-size: 1.25em;
    }

    .logo {
        height: 100%;
        width: 50%;
    }

    .main {
      display: flex;
      justify-content: space-evenly;
    }

    .menu {
        order: 3;
        flex-direction: column;
    }

    .project {
        width: 45%;
    }

    .project img {
        height: auto;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .projects h2 {
        flex: 0 0 100%;
    }

  }